*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px
}
.contact_us{
    max-width: 400px;
    background: #f3f3f3;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.contact_us h1{
    text-align: center;
}
.contact_info{
    height: 437.19px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.cont_add h2{
    font-size: 20px;
}